{% extends 'framework/base.html' %}
{% block content%}
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'framework/forms.css' %}" type="text/css">
</head>
<div class = "new-obj">
    <div class="form">
        <form action="{% url 'framework:new_assessment' %}" method="POST" class=".new-form">
            <h2>Nueva Estrategia de evaluación</h2>
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" value="Crear objetivo">Crear Estrategia</button>
        </form>
    </div>
</div>
{% endblock %}