<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Framework Gamificacion</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
    * {
        text-align: center;
    }

    body {
        padding:50px;
    }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">MEEJEL</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Inicio</a></li>
                            <li class="active"><a href="#">Cálculo</a></li>
                            <li class="active"><a href="{% url 'framework:logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
{% block content %}
{% endblock %}
{% block content2 %}
{% endblock %}
</body>
