<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Framework Gamificacion</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'framework/base.css' %}" type="text/css">
</head>
<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="nav">    
  <a href="{% url 'framework:assessment' %}" class="nav__item">Lista de evaluaciones</a>
  <a href="{% url 'framework:logout' %}" class="nav__item">Log Out</a>
</nav>
<body>
<main>
        <header>
        </header>
</main>
{% block content %}
{% endblock %}
{% block content2 %}
{% endblock %}
</body>
