{% extends 'framework/base.html' %}
<html lang="es">
		{% block content %}
<head>
</head>
<body>
{% if list %}
<table class="tg">
	<tr>
        <th >Tipo</th>
        <th >Descripción</th>        
	</tr>
	
	{% for i in list %}
	<tr>
	  <td class="tg-baqh">{{i.showSort}}</td>	  
	  <td class="tg-baqh">{{i.description}}</td>	  
	</tr>
	{% endfor %}

	{% else %}
	<h4>No hay registros</h4>
	{% endif %}
	</table>	
<div class="conten">
	<ul class="navigation">
		<li>
				<a href="">EVALUAR</a>
				<ul>{% for i in assessments %}
						<a class="select" href="{% url 'framework:resultados' i.id %}">{{i.name}}</a>
						{% endfor %}
				</ul>		
		</li>
	</ul>
</div>
</body>
{% endblock%}
</html>

