{% extends 'framework/base.html' %}
{% block content %}


<h4>Guia</h4>
<div class="help">Ubique el cursor soble cada item para ver una ilustracion de este</div>

<ul>
      <div class="help">
          <p>Inicie sesión</p> 
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'meejel_login.PNG' %}" alt="">


      <div class="help">
          <p>Si no tiene una cuenta, puede proceder a registrarse</p> 
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'reg_indicate_meejel.PNG' %}" alt="">

 

      <div class="help">
          <p>Al momento de registrarse diligencie correctamente el formulario</p> 
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'register_meejel.PNG' %}" alt="">

  
      <div class="help">
          <p>Una vez ingrese, puede dar clic en 'Nueva evaluación' y crear su nueva evaluación</p> 
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'new_evaluation_meejel.PNG' %}" alt="">


      <div class="help">
          <p>Hecho esto, proceda a agregar un principio a su evaluación, seleccionando el principio, el grado, esto seguido de una justificación</p>
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'new_principle.PNG' %}" alt="">


      <div class="help">
          <p>Una vez haya agregado sus principios puede consultarlos</p>
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'p_list.PNG' %}" alt="">


      <div class="help">
          <p>En la parte derecha de la lista de principios tendra varios botones para interactua rcon sus principios.</p>
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'tokens.PNG' %}" alt="">


      <div class="help">
          <p>Después de haber creado su principio, puede proceder a agregar evidencias, eligiendo el tipo y dejando una descripción de esta</p>
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'new_wvidence.PNG' %}" alt="">


      <div class="help">
          <p>Luego podrá evaluar su estrategia, obteniendo así un % total gamificado según las pautas de MEEJEL.</p>
      </div>
      {% load static %}

      <img class="imagen" src="{% static 'gammi_level.PNG' %}" alt="">

 
</ul>
<br>

<h4>A continuación, podrá encontrar tablas, las cuales en caso de ser necesario podran servirle de apoyo al momento de usar MEEJEL</h4>
<div class="tabla">
  <h4>Principios de gamificación</h4>
<table>
    <tr>
      <th scope="col">ID</th>
      <th>Nombre del principio</th>
      <th>Descripcion</th>
      <th>Beneficios esperados</th>
    </tr>
    <tr>
      <th>1</th>
      <td>Orientación</td>
      <td>Los procesos gamificados colocan al usuario (empleado) en el centro de la experiencia</td>
      <td>Mayor compromiso, sentido de control y autoeficacia.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Elementos persuasivos</td>
      <td>Los procesos gamificados incluyen elementos persuasivos basados en teorías psicológicas y de comportamiento sólidas</td>
      <td>Adopción de nuevas iniciativas. Mayor satisfacción con la comunicación interna.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Orientación de aprendizaje</td>
      <td>Enfocarse en la adquisición de conocimiento, desarrollo de habilidades, resultados motivacionales o cambio de comportamiento</td>
      <td>Desarrollo de capacidades y recursos personales y organizacionales.</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Recompensas basadas en logros</td>
      <td>Centrarse en un retorno de la inversión justificable y predecible</td>
      <td>Mayor satisfacción personal y retención de empleados.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Y Generación adaptable</td>
      <td>La Generación Y es el segmento de más rápido crecimiento de la fuerza laboral y está buscando experiencias de trabajo que sean de apoyo, divertidas y atractivas.</td>
      <td>Adquisición y retención de empleados.</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Factores de diversion</td>
      <td>Inclusión de elementos de humor, juego y diversión como parte de los procesos de trabajo.</td>
      <td>Mayor satisfacción personal y mayor bienestar.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Transformador</td>
      <td>Uso de una combinación equilibrada y atractiva de competencia y colaboración para transformar los procesos de trabajo existentes dentro de una organización</td>
      <td>Productividad mejorada</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Orientado al bienestar</td>
      <td>Foco en el bienestar personal y organizacional.</td>
      <td>Mayor bienestar personal y organizativo.</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Generando investigación</td>
      <td>Se deben alentar los esfuerzos de investigación en colaboración para justificar futuras inversiones en el área.</td>
      <td>Seguimiento mejorado y toma de decisiones.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Basado en el conocimiento</td>
      <td>Basado en el conocimiento, ya sea como resultado o como retroalimentación.</td>
      <td>Desarrollo de capacidades y recursos personales y organizacionales.</td>
    </tr>
</table>
</div>

<div class="tabla">
  <h4>Definiciones de variables</h4>
<table>
    <tr>
      <th scope="col">Simbolo</th>
      <th>Nombre de variable</th>
      <th>Descripcion</th>
    </tr>

    <tr>
      <th>Gr_id</th>
      <td>Grado</td>
      <td>Identificación del nivel de evidencia de incorporación de cada principio en el entorno evaluado. Para lograr este grado, se definió una escala de evaluación cualitativa según una escala.</td>
    </tr>
    <tr>
      <th>W_id</th>
      <td>Peso del principio</td>
      <td>Suma de la evaluación de cada evidencia multiplicada por el grado de incorporación de cada principio de gamificación identificado.</td>
    </tr>
    <tr>
      <th>LW_id</th>
      <td>Nivel de gamificacion</td>
      <td>Porcentaje de incorporación de gamificación del medio ambiente evaluado.</td>
    </tr>
</table>
</div>

<div class="tabla">
  <h4>Escala de Likert para evidencia de valor de grado</h4>
<table>
    <tr>
      <th scope="col">Escala likert</th>
      <th>Nombre</th>
      <th>Descripcion</th>
    </tr>
    <tr>
      <th>1</th>
      <td>Nulo</td>
      <td>No hay evidencia de que el principio se cumpla o esté presente en el entorno gamificado.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Medio</td>
      <td>Existe alguna evidencia de que el principio se cumple o está presente en el entorno gamificado y es posible identificar al menos un elemento asociado con este principio con alguna dificultad.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Significativo</td>
      <td>Existe alguna evidencia de que el principio se cumple o está presente en el entorno gamificado y es posible identificar al menos un elemento asociado con este principio</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Alto</td>
      <td>Existe evidencia de que el principio se cumple o está presente en el entorno gamificado y es posible identificar fácilmente los elementos asociados con este principio.</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Muy alto</td>
      <td>Existe evidencia de que el principio se cumple o está presente en el entorno gamificado y es fácilmente identificable.</td>
    </tr>
 
</table>
</div>
{% endblock %}
