{% extends 'framework/base.html' %}
{% block content %}

<style>
  body {
    padding:50px;
  }
  
  .sign-in-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>


{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

<div class="sign-in-form">
  <form action="{% url 'framework:login' %}" method="POST" class="sign-in-form">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="LOGIN">
  </form>
</div>
{% endblock %}