<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<style>
  body {
    padding:50px;
  }
  
  .sign-in-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>


{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

<div class="sign-in-form">
  <form action="{% url 'framework:login' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="LOGIN">
  </form>
</div>