{% extends 'framework/base.html' %}

<html lang="es">
{% block content %}
{% if lista_obj %}
<table class="tg">
	<tr>
	  <th >Principio</th>
	  <th >Nivel de evidencia</th>
	  <th >Justificacion</th>
		<th >Evidencias</th>
	  <th >Acciones</th>
	</tr>
	
	{% for i in lista_obj %}
	<tr>
	  <td class="tg-baqh">{{i.showPrinciple}}</td>	  
	  <td class="tg-baqh">{{i.showGrade}}</td>
	  <td class="tg-baqh">{{i.justification}}</td>
		<td class="tg-baqh">
			<a class="ver-edit" href="{% url 'framework:evidencias' i.id %}">Ver</a>
			<a class="ver-edit" href="{% url 'framework:new_evidence' i.id %}">Add</a>
		</td>	  
		<td class="tg-baqh">
			<a class="btn-btn-success-btn-xs"  href="{% url 'framework:edit_objetivos' i.id %}">Editar</a>
			<a class="btn-btn-danger-btn-xs"  href="{% url 'framework:delete_objetivos' i.id %}">Eliminar</a>
		</td>
	</tr>
	{% endfor %}

	{% else %}
	<h4>No hay registros</h4>
	{% endif %}
	</table>
	<ul>
		<a class="btn-new" href="{% url 'framework:objetivos' assessment %}">Agregar Principio</a>
	  <a class="btn-new" href="{% url 'framework:resultados' assessment %}">Evaluar</a>
	</ul>
	
{% endblock%}
</html>
