{% extends 'framework/base.html' %}

<html lang="es">
{% block content %}
{% if lista_obj %}
<table class="tg">
	<tr>
	  <th >Codigo</th>
	  <th >Objetivo</th>
	  <th >Principio</th>
	  <th >Grado</th>
	  <th >Evidencia</th>
	  <th >Wid</th>
	  <th >Acciones</th>
	</tr>
	
	{% for i in lista_obj %}
	<tr>
	  <td class="tg-baqh">{{i.id}}</td>
	  <td class="tg-baqh">{{i.objective}}</td>
	  <td class="tg-baqh">{{i.principle}}</td>
	  <td class="tg-baqh">{{i.grade}}</td>
	  <td class="tg-baqh">{{i.evidence}}</td>
	  <td class="tg-baqh">{{i.wid}}</td>
		<td class="tg-baqh">
		<a class="btn-btn-success-btn-xs"  href="{% url 'framework:edit_objetivos' i.id %}">Editar</a>
		<a class="btn-btn-danger-btn-xs"  href="{% url 'framework:delete_objetivos' i.id %}">Eliminar</a>
		</td>
	</tr>
	{% endfor %}

	{% else %}
	<h4>No hay registros</h4>
	{% endif %}
  </table>
	<a class="btn-new" href="{% url 'framework:objetivos' assessment %}">Nuevo objetivo</a>
{% endblock%}
</html>