{% extends 'framework/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td><b>Codigo</b></td>
			<td><b>Objetivo</b></td>
			<td><b>Principio</b></td>
			<td><b>Grado</b></td>
			<td><b>Evidencia</b></td>
			<td><b>Wid</b></td>
			<td><b>Acciones</b></td>
		</tr>
		
	</thead>
	<tbody>
		{% if lista_obj %}
		{% for i in lista_obj %}
		<tr>
			<td>{{ i.id }}</td>
			<td>{{ i.objective }}</td>
			<td>{{ i.principle }}</td>
			<td>{{ i.grade }}</td>
			<td>{{ i.evidence }}</td>
			<td>{{ i.wid }}</td>
		</tr>
        
		{% endfor %}
		
		{% else %}
		<h2>No hay registros</h2>
		{% endif %}
	</tbody>
</table> 
{% endblock%}