{% extends 'framework/base.html' %}
{% block content%}
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'framework/forms.css' %}" type="text/css">
</head>
<div class = "new-obj">
    <div class="form">
        <form  method="POST" class=".new-form">
            <h2>Nueva Evidencia</h2>
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Añadir Evidencia</button>
        </form>
    </div>
</div>
<div class="conten">
        <ul class="navigation">
            <li>
                    <a href="">EVALUAR</a>
                    <ul>{% for i in assessments %}
                            <a class="select" href="{% url 'framework:resultados' i.id %}">{{i.name}}</a>
                            {% endfor %}
                    </ul>		
            </li>
        </ul>
{% endblock %}