{% extends 'framework/base.html' %}
{% block content%}
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'framework/forms.css' %}" type="text/css">
</head>
<div><h1>{{error}}</h1></div>
<div class = "new-obj">    
    <div class="form">
        <form method="POST" class=".new-form">
            <h2>Nuevo Objetivo de Aprendizaje</h2>
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" value="Crear objetivo">Crear objetivo</button>
        </form>
    </div>
</div>
{% endblock %}