{% extends 'framework/base.html' %}

{% block content%}
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'forms.css' %}" type="text/css">
</head>



<div class = "new-obj">    
    <div class="form">
        <form method="POST" class=".new-form">
            <h2>Nuevo Principio</h2>
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Agregar</button>
            <a class="btn-evaluar"  href="{% url 'framework:resultados' id %}">Evaluar</a>
        </form>
    </div>
</div>
{% endblock %}