<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'framework/forms.css' %}" type="text/css">
<body onload="rotation()" style="margin:0;">
<div class="register-page">
  <div class = "form">
    <div style="display:none;" id="myDiv" class="animate-bottom">    
      <form action="{% url 'framework:register' %}" method="POST" class=".register-form ">
          <h2>REGISTRATE</h2>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" value="REGISTRAR">REGISTRAR</button> 
      </form>
    </div>
  </div>
</div>

<script>
  var an;
function rotation() {
  an = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("myDiv").style.display = "block";
}

</script>
</body>